<ion-content>
  <form class="form-layout" (submit)="doLogin()">
    <div class="content-s">
      
      <div class="graphic">
        <img src="../../../assets/ambulance.png">
      </div>
      <p>
        <strong>Khonis Med.</strong>
      </p>
       
        <ion-list >
            <ion-item lines="none">
              <ion-text>Enter your login details</ion-text>
            </ion-item>
            <ion-item>
              <ion-input type="email" [(ngModel)]="userLoginData.email" name="email" placeholder="example@gmail.com">Email :</ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" [(ngModel)]="userLoginData.password" name="password" >Password :</ion-input>
              </ion-item>
  
          </ion-list>
    </div>
    
    <div class="button-next">
      <ion-button color="secondary" expand="block"  shape="round" size="large" type="submit">
        LOGIN
      </ion-button>
  
    </div>
  </form>

</ion-content>
