.rounded {
    width: 90%;
    height: 90px;
    border-radius: 10px;
    --border-top-width: 2px;
    --border-end-width: 3px;
  --border-bottom-width: 2px;
  --border-start-width: 6px;
    margin-bottom: 10px;  
}
