<ion-toolbar>
  
  <ion-buttons slot="start" class="mk-round">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

  

<ion-content [fullscreen]="true">
  

  <div id="container">
    <p>
      <strong>Khonis Health.</strong>
    </p>
    
    <div class="graphic">
      <img src="../../assets/medicine.png">
    </div>
    <p>
      <strong>Request for <br>an Ambulance!</strong>
    </p>
    
    
    <ion-button color="secondary" shape="round" class="shadow">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>,
  </div>
</ion-content>
